# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Passwords
.env

# Dev notes/ideas
notes

# classifiers
classifiers/intent_model/intent_classifier/
classifiers/appt_context_model/appt_context_classifier/
classifiers/appt_confirmation_model/appt_confirmation_classifier/
classifiers/appt_availability_model/appt_availability_classifier/



